body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.title {
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 8px;
}

input {
  padding: 8px;
  width: 80%;
  margin-top: 10px;
}

button, .btn {
  background: #25D366;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 6px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}
